In [46]:
import pandas as pd

In [47]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'

In [48]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

In [49]:
parse_dates = ["tpep_pickup_datetime","tpep_dropoff_datetime"]

In [52]:
df_iter = pd.read_csv(prefix + 'yellow_tripdata_2021-01.csv.gz',                                
                 dtype = dtype,                                   
                 parse_dates = parse_dates,
                iterator=True,
                chunksize=100000)

In [53]:
df_iter

In [54]:
!uv add sqlalchemy psycopg2-binary

Resolved 120 packages in 0.59ms
Audited 12 packages in 0.14ms

In [55]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://root:root@localhost:5432/ny_taxi"
)

In [56]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [57]:
!uv add tqdm

Resolved 120 packages in 0.57ms
Audited 12 packages in 0.13ms

In [58]:
from tqdm.auto import tqdm

In [59]:
first = True

for df_chunk in tqdm(df_iter):
    # Create table schema (no data)
    if first: 
       df_chunk.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')              
       first = False
       print('Table created')

      # Insert chunks
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    print('Inserted:', len(df_chunk))

0it [00:00, ?it/s]

Table created
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 69765